body, input {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --border-color:#343a40;
  --btn-bkg-danger:#343a40a2; 
  --btn-bkg-danger-hover:#6c757d;
  --color-font-global:white;
}
